{% extends 'base.html' %}

{% block titulo %}
Agenda Médica
{% endblock %}

{% block contenido %}
<div class="container mt-4">
  <h3>Listar Agenda Médica</h3>

  <!-- Tarjeta -->
  <div class="card">
    <div class="card-header">
      <button type="button" class="btn btn-outline-info" id="btnAgregar">Agregar</button>
    </div>
    <div class="card-body">
      <table class="table table-striped" id="tbl">
        <thead>
          <tr>
            <th>Médico nombre</th>
            <th>Médico apellido</th>
            <th>Día</th>
            <th>Turno</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <!-- /Tarjeta -->

  <!-- Modal -->
  <div class="modal" id="modalFormulario">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitle">Nueva Agenda</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Cuerpo -->
        <div class="modal-body">
          <!-- Campo Doctor/a -->
          <input type="hidden" id="txtIdAgenda">
          <div class="form-group">
            <input type="hidden" id="id_medico">
            <label for="medico">Medico:</label>
            <input type="text" id="txtmedico" class="form-control" placeholder="Click para seleccionar Médico">
          </div>
          
          <!-- Campo Día -->
          <div class="form-group">
            <input type="hidden" id="id_dia">
            <label for="dia">Día:</label>
            <input type="text" id="txtDia" class="form-control" placeholder="Click para seleccionar dia">
          </div>
          
          <!-- Campo Turno -->
          <div class="form-group">
            <input type="hidden" id="id_turno">
            <label for="turno">Turno:</label>
            <input type="text" id="txtTurno" class="form-control" placeholder="Click para seleccionar turno">
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="modalBuscarMedico">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalMedicoTitle">Seleccionar Medico</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped" id="tblMedico">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalBuscarDia">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalDiaTitle">Seleccionar Dia</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped" id="tblDia">
            <thead>
              <tr>
                <th>Dia</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalBuscarTurno">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalTurnoTitle">Seleccionar turno</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped" id="tblTurno">
            <thead>
              <tr>
                <th>Turno</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Librerías necesarias -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}

{% block js %}
<script>
  const CSRFToken = "{{ csrf_token() }}" || null;

  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/agenda',
      columns: [
        { data: 'medico_nombre' },
        { data: 'medico_apellido' },
        { data: 'dia' },
        { data: 'turno' },
        {
          data: function(row) {
  return `
    <button type="button" name="btn_editar" class="btn btn-info btn-sm" data-id_agenda_medica="${row.id_agenda_medica}" title="Editar">
      <i class="fas fa-edit"></i>
    </button>
    <button type="button" name="btn_eliminar" class="btn btn-danger btn-sm" data-id_agenda_medica="${row.id_agenda_medica}" title="Eliminar">
      <i class="fas fa-trash-alt"></i>
    </button>`;
}
        }
      ]
    });
  };

  const initDatatablem= () => {
    $('#tblMedico').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/medico',
      columns: [
        { data: 'nombre' },
        { data: 'apellido'},
        { data: function(row) {
          return `<button type="button" name="btn_seleccionar_Medico" class="btn btn-primary" data-id="${row.id_medico}" data-nombre="${row.nombre}" data-apellido="${row.apellido}">Seleccionar</button>`;
          }
        }
      ]
    });
    $('#tblMedico').on('click', 'button[name="btn_seleccionar_Medico"]', function () {
      const idMedico = $(this).data('id');
      const nombreMedico = $(this).data('nombre');
      const apellidoMedico = $(this).data('apellido');
      $('#txtmedico').val(`${nombreMedico} ${apellidoMedico}`);
      $('#id_medico').val(idMedico);
      $('#modalBuscarMedico').modal('hide');
    });
  }

  const buscarMedico = () => {
    $('#txtmedico').on('click', function () {
      $('#modalMedicoTitle').text("Seleccionar Medico");
      $('#modalBuscarMedico').modal(); 
    });
  };

  const initDatatabled= () => {
    $('#tblDia').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/dias',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_dia" class="btn btn-primary" data-id="${row.id_dia}" data-dia="${row.descripcion}">Seleccionar</button>`;
          }
        }
      ]
    });
    $('#tblDia').on('click', 'button[name="btn_seleccionar_dia"]', function () {
      const idDia = $(this).data('id');
      const dia = $(this).data('dia');
      $('#txtDia').val(dia);
      $('#id_dia').val(idDia);
      $('#modalBuscarDia').modal('hide');
    });
  }

  const buscarDia = () => {
    $('#txtDia').on('click', function () {
      $('#modalDiaTitle').text("Seleccionar Dia");
      $('#modalBuscarDia').modal();
    });
  }

  const initDatatablet= () => {
    $('#tblTurno').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/turnos',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_Turno" class="btn btn-primary" data-id="${row.id_turno}" data-turno="${row.descripcion}">Seleccionar</button>`;
          }
        }
      ]
    });
    $('#tblTurno').on('click', 'button[name="btn_seleccionar_Turno"]', function () {
      const idTurno = $(this).data('id');
      const turno = $(this).data('turno');
      $('#txtTurno').val(turno);
      $('#id_turno').val(idTurno);
      $('#modalBuscarTurno').modal('hide');
    });
  }

  const buscarTurno = () => {
    $('#txtTurno').on('click', function () {
      $('#modalTurnoTitle').text("Seleccionar Turno");
      $('#modalBuscarTurno').modal();
    });
  }

  
  const agregar = () => {
    $('#btnAgregar').on('click', function() {
      $('#modalTitle').text("Agregar Agenda");
      $('#txtIdAgenda').val("");
      $('#txtmedico').val("");
      $('#txtDia').val("");
      $('#txtTurno').val("");
      $('#modalFormulario').modal();
    });
  };

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idAgenda = $('#txtIdAgenda').val();
      const id_medico = $('#id_medico').val();
      const id_dia = $('#id_dia').val();
      const id_turno = $('#id_turno').val();
      const tabla = $('#tbl').DataTable();

      if (idAgenda) {
        fetch(`/api/v1/agenda/${idAgenda}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
            , 'X-CSRFToken': CSRFToken
          },
          body: JSON.stringify({ id_medico, id_dia, id_turno})
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "La agenda ha sido actualizada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        })
        .catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar la agenda.", "error");
        });
      } else {
        fetch(`/api/v1/agenda`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
            , 'X-CSRFToken': CSRFToken
          },
          body: JSON.stringify({ id_medico, id_dia, id_turno})
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Registrado", "La agenda ha sido registrada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        })
        .catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar la agenda.", "error");
        });
      }

      $('#modalFormulario').modal("hide");
    });
  };

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]', function() {
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar Agenda");
          const idAgenda = $(this).data('id_agenda_medica');
          $('#txtIdAgenda').val(idAgenda);
  
          fetch(`/api/v1/agenda/${idAgenda}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#id_medico').val(data.data.id_medico); 
            $('#txtmedico').val(data.data.medico_nombre + ' ' + data.data.medico_apellido);
            $('#txtDia').val(data.data.dia); 
            $('#id_dia').val(data.data.id_dia);
            $('#txtTurno').val(data.data.turno);
            $('#id_turno').val(data.data.id_turno);
            $('#modalFormulario').modal();
          });
        }
      });
    });
  };
  

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]', function() {
      const idAgenda = $(this).data('id_agenda_medica');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/agenda/${idAgenda}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
              , 'X-CSRFToken': CSRFToken
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if (data && !data.error && data.success) {
              const fila = $(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", data.success);
            } else {
              Swal.fire(data.error);
            }
          })
          .catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar la agenda.", "error");
          });
        }
      });
    });
  };

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
    buscarMedico();
    buscarDia();
    buscarTurno();
  };

  $(function() {
    initDatatable();
    initDatatablem();
    initDatatabled();
    initDatatablet();
    addEvents();
  });
</script>

{% endblock %}
