{% extends 'base.html' %}

{% block titulo %}
Medico
{% endblock %}

{% block contenido %}
<div class="container mt-4">
  <h3>Medicos</h3>

  <!-- Tarjeta -->
  <div class="card">
    <div class="card-header">
      <button type="button" class="btn btn-outline-info" id="btnAgregar">Agregar</button>
    </div>
    <div class="card-body">
      <table class="table table-striped" id="tbl">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>N° de Registro</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <!-- /Tarjeta -->

  <!-- Modal para agregar o editar medico -->
  <div class="modal" id="modalFormulario">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitle">Nuevo Medico</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Cuerpo -->
        <div class="modal-body">
           <!-- Campo Nombre -->
           <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" class="form-control" placeholder="Ingrese el nombre">
          </div>

          <!-- Campo Apellido -->
          <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" class="form-control" placeholder="Ingrese el apellido">
          </div>

          <!-- Campo Especialidad -->
          <div class="form-group">
            <label for="especialidad">Especialidad:</label>
            <input type="text" id="txtEspecialidad" class="form-control"  placeholder="Click para seleccionar especialidad">
            <input type="hidden" id="id_especialidad">
          </div>

          <!-- Campo numero de registro -->
          <div class="form-group">
            <label for="registro">N° de Registro:</label>
            <input type="text" id="registro" class="form-control" placeholder="Ingrese el numero del registro">
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal de selección de especialidad -->
  <div class="modal" id="modalBuscarEspecialidad">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalEspecialidadTitle">Seleccionar Especialidad</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="tblEspecialidad">
              <thead>
                <tr>
                  <th>Especialidad</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Librerías necesarias -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}

{% block js %}
<script>
  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/medico',
      columns: [
        { data: 'nombre' },
        { data: 'apellido' },
        { data: 'especialidad' },
        { data: 'registro' },
        {
          data: function(row) {
            return `
              <button type="button" name="btn_editar" class="btn btn-info" data-id_medico="${row.id_medico}">Editar</button>
              <button type="button" name="btn_eliminar" class="btn btn-warning" data-id_medico="${row.id_medico}">Eliminar</button>`;
          }
        }
      ]
    });
  };

  const initDatatablee = () => {
    $('#tblEspecialidad').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/especialidades',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_especialidad" class="fa fa-check" data-id="${row.id_especialidad}" data-especialidad="${row.descripcion}"> Seleccionar</button>`;
          }
        }
      ]
    });
    $('#tblEspecialidad').on('click', 'button[name="btn_seleccionar_especialidad"]', function () {
      const idEspecialidad = $(this).data('id');
      const especialidad = $(this).data('especialidad');
      $('#txtEspecialidad').val(especialidad);
      $('#id_especialidad').val(idEspecialidad);
      $('#modalBuscarEspecialidad').modal('hide');
    });
  };

  const buscarEspecialidad = () => {
    $('#txtEspecialidad').on('click', function () {
      $('#modalEspecialidadTitle').text("Seleccionar Especialidad");
      $('#modalBuscarEspecialidad').modal();
      
    });
  };

  const agregar = () => {
    $('#btnAgregar').on('click', function() {
      $('#modalTitle').text("Agregar Medico");
      $('#nombre').val("");
      $('#apellido').val("");
      $('#txtEspecialidad').val("");
      $('#registro').val("");
      $('#modalFormulario').modal();
    });
  };

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idMedico = $('#txtIdMedico').val();
      const nombre = $('#nombre').val();
      const apellido = $('#apellido').val();
      const especialidad = $('#txtEspecialidad').val();
      const registro = $('#registro').val();
      const tabla = $('#tbl').DataTable();

      if (idMedico) {
        fetch(`/api/v1/medico/${idMedico}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ nombre: nombre, apellido: apellido, especialidad: especialidad, registro: registro })
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "Medico ha sido registrado correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        })
        .catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar medico.", "error");
        });
      } else {
        fetch(`/api/v1/medico`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ nombre: nombre, apellido: apellido, especialidad: especialidad, registro: registro })
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Registrado", "El medico ha sido registrada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        })
        .catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar medico.", "error");
        });
      }

      $('#modalFormulario').modal("hide");
    });
  };

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]', function() {
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar Medico");
          const idMedico = $(this).data('id_medico');
          $('#txtIdMedico').val(idMedico);

          fetch(`/api/v1/medico/${idMedico}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#nombre').val(data.data.nombre);
            $('#apellido').val(data.data.apellido);
            $('#txtEspecialidad').val(data.data.especialidad);
            $('#registro').val(data.data.registro);
            $('#modalFormulario').modal();
          });
        }
      });
    });
  };

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]', function() {
      const idPersona = $(this).data('id_medico');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/medico/${idPersona}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if (data && !data.error && data.success) {
              const fila = $(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", data.success);
            } else {
              Swal.fire(data.error);
            }
          })
          .catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar medico.", "error");
          });
        }
      });
    });
  };

  // Validación del campo de cédula para que solo acepte números
  $('#registro').on('input', function() {
    this.value = this.value.replace(/[^0-9]/g, '');  // Solo permite números
  });

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
    buscarEspecialidad();
  };

  $(function() {
    initDatatable();
    initDatatablee();
    addEvents();
  });
</script>
{% endblock %}
