{% extends 'base.html' %}

{% block titulo %}
Medico
{% endblock %}

{% block contenido %}
<div class="container mt-4">
  <h3>Medicos</h3>

  <!-- Tarjeta -->
  <div class="card">
    <div class="card-header">
      <button type="button" class="btn btn-outline-info" id="btnAgregar">Agregar</button>
    </div>
    <div class="card-body">
      <table class="table table-striped" id="tbl">
        <thead>
          <tr>
            <th>Médico</th>
            <th>Especialidad</th>
            <th>N° de Registro</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <!-- /Tarjeta -->

  <!-- Modal -->
  <div class="modal" id="modalFormulario">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitle">Nuevo Medico</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Cuerpo -->
        <div class="modal-body">
          <div class="form-group">
            <label for="doctor">Doctor/a:</label>
            <select id="doctor" class="form-control">
              <option value="" data-especialidad="">Seleccione al Dr. o Dra.</option>
              <option value="Dra. Diana Barreto">Dra. Diana Barreto</option>
              <option value="Dra. Nuri González" >Dra. Nuri González</option>
              <option value="Dr. Alexander Ayala">Dr. Alexander Ayala</option>
            </select>
          </div>
          <div class="form-group">
            <label for="especialidad">Especialidad:</label>
            <select id="especialidad" class="form-control">
              <option value="">Seleccione la especialidad</option>
              <option value="Ortodoncia">Ortodoncia</option>
              <option value="Rehabilitación Oral">Rehabilitación Oral</option>
              <option value="Cirugia Oral">Cirugia Oral</option>
            </select>
          </div>
          <!-- Campo numero de registro -->
          <div class="form-group">
            <label for="registro">N° de Registro:</label>
            <input type="text" id="registro" class="form-control" placeholder="Ingrese el numero del registro">
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Librerías necesarias -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}

{% block js %}
<script>
  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/medico',
      columns: [
        { data: 'medico' },
        { data: 'especialidad' },
        { data: 'num_registro' },
        {
          data: function(row) {
            return `
              <button type="button" name="btn_editar" class="btn btn-info" data-id_medico="${row.id_medico}">Editar</button>
              <button type="button" name="btn_eliminar" class="btn btn-warning" data-id_medico="${row.id_medico}">Eliminar</button>`;
          }
        }
      ]
    });
  };

  const agregar = () => {
    $('#btnAgregar').on('click', function() {
      $('#modalTitle').text("Agregar Medico");
      $('#doctor').val("");
      $('#especialidad').val("");
      $('#registro').val("");
      $('#modalFormulario').modal();
    });
  };

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idMedico = $('#txtIdMedico').val();
      const doctor = $('#doctor').val();
      const especialidad = $('#especialidad').val();
      const registro = $('#registro').val();
      const tabla = $('#tbl').DataTable();

      if (idMedico) {
        fetch(`/api/v1/medico/${idMedico}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ id_medico: doctor, id_especialidad: especialidad, num_registro: registro })
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "El médico ha sido registrado correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        })
        .catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar la médico.", "error");
        });
      } else {
        fetch(`/api/v1/medico`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ id_medico: doctor, id_especialidad: especialidad, num_registro: registro })
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Registrado", "El médico ha sido registrada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        })
        .catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar el médico.", "error");
        });
      }

      $('#modalFormulario').modal("hide");
    });
  };

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]', function() {
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar Medico");
          const idMedico = $(this).data('id_medico');
          $('#txtIdMedico').val(idMedico);

          fetch(`/api/v1/medico/${idMedico}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#doctor').val(data.data.medico);
            $('#especialidad').val(data.data.especialidad);
            $('#registro').val(data.data.registro);
            $('#modalFormulario').modal();
          });
        }
      });
    });
  };

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]', function() {
      const idMedico = $(this).data('id_medico');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/medico/${idMedico}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if (data && !data.error && data.success) {
              const fila = $(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", data.success);
            } else {
              Swal.fire(data.error);
            }
          })
          .catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar el médico.", "error");
          });
        }
      });
    });
  };
  
 // Validación del campo de registro para que solo acepte números
 $('#registro').on('input', function() {
  this.value = this.value.replace(/[^0-9]/g, '');  // Solo permite números
});

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
  };

  $(function() {
    initDatatable();
    addEvents();
  });
</script>
{% endblock %}

